header {
    background-color: black;
    color: #ffffff;
    padding: 5px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: red;
    text-decoration: none;
  }
  