<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="categorias">Nossas categorias para você!</h1>
</div>

<main role="main" class="flex-shrink-0">
<div class="texto">
  <div class="filmes-em-destaque">
    <cin-categoria *ngFor="let c of categorias" [categoria]="c" style="width: 25%"></cin-categoria>
  </div>
</div>
     
       
       <section class="filmes-em-destaque">
         <div class="filme">
           <img src="assets/img/terror/sexta13.jpg" alt="Filme 1">
           <h3> Sexta-feira 13 </h3>
           <p></p>
         </div>
         <div class="filme">
           <img src="assets/img/açao/mib.jpg" alt="Filme 2">
           <h3> Homens de Preto </h3>
           <p></p>
         </div>
         <div class="filme">
           <img src="assets/img/comedia/gentegrande2.jpg" alt="Filme 2">
           <h3> Gente Grande 2 </h3>
           <p></p>
         </div>
       </section>
     </main>
