<main class="img">
  <section class="filmes-em-destaque">
      <div class="movies">
        <img src="../assets/img/açao/velozes10.jpg" alt="Filme 1">
        <h3> VELOZES E FURIOSOS 10 </h3>
        <h3>CATEGORIA: AÇÃO</h3>
        <h3>CLASSIFICAÇÃO: 16 ANOS</h3> 
      </div>
      <div class="movies">
        <img src="../assets/img/açao/adao.jpg" alt="Filme 2">
        <h3> ADÃO NEGRO</h3>
        <h3>CATEGORIA: AÇÃO</h3>
        <h3>CLASSIFICAÇÃO: 14 ANOS</h3>
      </div>

      <div class="movies">
        <img src="../assets/img/terror/sexta13.jpg" alt="Filme 2">
        <h3> SEXTA FEIRA 13 </h3>
        <h3>CATEGORIA: AÇÃO</h3>
        <h3>CLASSIFICAÇÃO: 18 ANOS</h3>
      </div>
    </section>
      <section class="filmes-em-destaque">

      <div class="movies">
        <img src="../assets/img/terror/panico.jpg" alt="Filme 2">
        <h3> PANICO </h3>
        <h3>CATEGORIA: TERROR </h3>
        <h3>CLASSIFICAÇÃO: 16 ANOS</h3> 
      </div>

      <div class="movies">
        <img src="../assets/img/terror/sorria.jpg" alt="Filme 2">
        <h3> SORRIA </h3>
        <h3>CATEGORIA: TERROR </h3>
        <h3>CLASSIFICAÇÃO: 16 ANOS</h3>
      </div>

      <div class="movies">
        <img src="../assets/img/comedia/anjosdalei.jpg" alt="Filme 2">
        <h3> ANJOS DA LEI</h3>
        <h3>CATEGORIA: COMEDIA </h3>
        <h3>CLASSIFICAÇÃO: 16 ANOS</h3> 
      </div>

    </section>
  </main>